@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

html {
  --s: 200px;
  --c1: #ffffff;
  --c2: #90162a;
  
  --_g: #0000 8%,var(--c1) 0 17%,#0000 0 58%;
  background: 
    linear-gradient(135deg,#0000 20.5%,var(--c1) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
    linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
    linear-gradient(135deg,var(--_g),var(--c1) 0 67%,#0000 0),        
    linear-gradient( 45deg,var(--_g),var(--c1) 0 67%,#0000 0 83%,var(--c1) 0 92%,#0000 0),
    var(--c2); 
  background-size: var(--s) var(--s);
}

body {
  font-family: "Quicksand", Helvetica;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(233, 233, 233);
  padding: 2%;
  border-radius: 10%;
  width: 70%;
  text-align: center;
}

h2 {
  margin-bottom: 5%;
  font-size: 150%;
  text-align: center;
}

.form-group {
  margin-bottom: 5%;
}

.form-group label {
  display: block;
  margin-bottom: 5%;
}

.form-group input {
  width: 80%;
  padding: 2%;
  box-sizing: border-box;
  border: none;
  border-radius: 5%;
  background-color: #ffffff;
}

button {
  padding: 5%;
  background-color: #90162a;
  color: #fff;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  font-size: 100%;
}

button:hover {
  background-color: #0d7597;
}

.message {
  color: red;
  text-align: center;
  margin-top: 10px;
}