@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {
    --inter: "Inter", sans-serif;

    --red: #460000;
    --black: #18181b;
    --light_black: #212529;
    --white: #f8f9fa;
    --light_grey: #e9ecef;
    --medium_grey: #dee2e6;

    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-xxl: 2rem;
    --font-xxxl: 2.5rem;
    --font-xxxxl: 3rem;
}

body{
    font-family: var(--inter);
}

a{
    text-decoration: none;
}

.general_btn_one{
    background-color: var(--red);
    font-size: var(--font-lg);
    font-weight: 500;
    color: var(--white);
    padding: 2rem 4rem;
    border: 0;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
}

.general_btn_one:hover{
    background-color: var(--white);
    color: var(--red);
}

#toggle_menu_navbar{
    background-color: var(--red);
    position: fixed;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    border-radius: 50%;
    top: 4rem;
    right: 4rem;
    z-index: 100;
    border: 0;
}

#toggle_menu_navbar svg{
    stroke: var(--white);
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}

.navbar_container{
    position: absolute;
    background-color: var(--red);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
}

.navbar_active{
    transform: translateX(0%);
}

.navbar_container a{
    font-size: var(--font-xxl);
    font-weight: 500;
    color: var(--white);
}