
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {
    --inter: "Inter", sans-serif;

    --red: #460000;
    --black: #18181b;
    --light_black: #212529;
    --white: #f8f9fa;
    --light_grey: #e9ecef;
    --medium_grey: #dee2e6;

    --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;
    --font-xxl: 2rem;
    --font-xxxl: 2.5rem;
    --font-xxxxl: 3rem;
}

body{
    font-family: var(--inter);
}

a{
    text-decoration: none;
}

.index_main_container{
    width: 100%;
    padding: 5vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    z-index: 10;
}

.index_main_container img{
    width: 80%;
    height: fit-content;
    object-position: center;
    object-fit: contain;
}
