
#imagen_logo {
    width: 20rem;
    height: auto;
    margin-left: 2.5rem;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#div_botones {
    display: flex;
    flex-direction: column;
}

.botones {
    width: 20rem;
    height: 5rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 2rem;
    color: whitesmoke;
    background-color: #90162a;
}

.botones:hover{
    border: 1px solid #90162a;
    color: #90162a;
    background-color: whitesmoke;
}

a {
    margin: 2.5rem auto;
}