
h1{
    font-family: "Quicksand", Helvetica;
    color: #333333;
    text-align: center;
    margin-top: 5rem;
}

#searchbar_div {
    margin-left: 3rem;
    margin-right: auto;
}

#search_form{
    margin: auto;
}

#search_bar{
    width: 60vw;
    height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}

#search_btn{
    height: 2rem;
    background-color: #90162a;
    border: none;
    border-radius: 0.3rem;
    color: whitesmoke;
}